// ======================================
//  Variables
// ======================================

// Fonts
$primary-font: 'Nunito Sans', sans-serif;
$default-font-size: 16;

// layouts
$max-width: 1140px;
$gutter: 15px;

// Breakpoints
$break-m: 769px;
$break-l: 1025px;
