// ======================================
//  lightcase
// ======================================

#lightcase-info {
  position: static;
  margin-top: em(40);
  margin-left: 12.5%;
  margin-right: 12.5%;
}
